/*To override global css use this file*/
/*colors*/
.bg_color_primary {
  background-color: #00897B !important;
}
.bg_color_primary_light{
  background-color: #26A69A !important;
}
.bg_color_primary_dark{
  background-color: #00695C !important;
}
.bg_color_grey{
  background-color: #9E9E9E !important;
}
.bg_color_grey_light{
  background-color: #EEEEEE !important;
}
.bg_color_grey_dark{
  background-color: #616161 !important;
}
.fg_color_white{
  color: #fff !important;
}
.fg_color_black{
  color: #000 !important;
}
.text_bold{
  font-weight: bold !important;
}
/*other class*/
div.logo{
  font-weight: bolder;
  font-size: 2em;
}